.heading{
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.div{
    align-items: center;
    justify-content: center;
    margin: 50px;
}