.Header{
    background-color: rgb(92, 92, 92);
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    min-width: 370px;
    max-width: auto;
}


.Input{
    padding: 5px 5px;
    width: 150px;
    margin: 5px;
}

#option{
    width: 150px;
    height: 30px;
}
